# These variables are only available locally in MiniOxygen

SESSION_SECRET="foobar"

# Croct credentials, run `npx croct init` to set these up automatically
PUBLIC_CROCT_APP_ID="<paste your app ID here>"
CROCT_API_KEY="<paste your API key here>"
